*
{
  padding: 0;
  margin: 0;
}

html,body
{
  width: 100%;
}

nav
{
  padding: 20px;
  height: max-content;
  width: max-content;
}

body
{
  font-family: 'Tajawal', sans-serif;
  font-size: 14pt;
  background-color: lightgreen;
  
}

section
{
  width: 98%;
  opacity: 0.9;
  margin: 0 auto;
}

.message
{
 border: 1px solid white;
 background-color: white;
 border-radius: 25px;
 color: #f77373;
 font-weight: 600;
 text-align: center;
 padding: 25px;
 margin: 25px;
 margin-top: 200px;
 font-size: 24pt;
 padding-bottom: 50px;
 box-shadow: 0px 0px 30px #505555;
}
.stage
{
  font-weight: 600;
 text-align: center;
 padding: 25px;
 margin: 25px;
  border: 1px solid #fff;
  border-radius: 55px;
  text-shadow: -1px 1px  #fff; 
  box-shadow: 0px 0px 80px white;
  padding: 4px 15px;
  color: #fff;/*#f57575;*/
  background-color:  #06ac6d;
  margin-bottom: 40px;
}

.element
{
 border: 1px solid white;
 background-color: #ebf4eb; /* #06ac6d */
 border-radius: 25px;
 font-weight: 600;
 padding: 5px;
 padding-right: 20px;
 margin: 5px;
 font-size: 16pt;
}

b
{
  font-size: 36pt;
  border: 1px solid #ffffa2;
  border-radius: 5px 55px 5px 55px;
  text-shadow: -1px 1px  #f77373;
  box-shadow: 0px 0px 80px yellow;
  padding: 4px;
  color: #f57575;
  background-color:  #ffffa2;
  margin-bottom: 40px;
}

.cup
{
  font-size: 72pt;
  margin: 5px;
  margin-bottom: 40px;
}
small
{
  position: absolute;
  left: 10%;
  color: #06ac6d;
}
h5
{
  color: yellow;
  font-size: 14pt;
}
button
{
  width: 50px;
  height: 50px;
  margin: 35px;
  background-image: url('menu-button-of-three-horizontal-lines.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
  border: 0;
  opacity: 0.8;
  cursor: pointer;
}
 
button:hover
{
  opacity: 1;
}
.menu
{
  display: none;
  flex-direction: column;
  margin: 5px;
  width: max-content;
  height: max-content;
}
a
{
  text-decoration: none;
  width: 100%;
}

.menu-item
{
  color: white;
  background-color: gray;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  opacity: 0.8;
  display:block;
}

.menu-item:hover
{
  opacity: 1;
}
.about
{
  align-items: center;
  text-align: center;
  margin: 25px;
  margin-bottom: 150px;
}
h2
{
  text-align: right;
  font-weight: 600;
}
p
{
  font-size: 24pt;
  font-weight: 400;
  margin: 25px;
}
.about > img
{
  width: 300px;
  height: 300px;
}
.partner
{
  background-color: gray;
  padding-top: 15px;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 200px;
}
.partner > h2
{
  background-color: #dedede;
  width: max-content;
  margin-top: 25px;
  padding-left: 15px;
  border-radius: 25px 0 0 25px;
  color: #06ac6d;
  text-shadow: 0px 0px 10px gray;
  font-size: 32pt;
}
.container
{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  
}
.partner-item > p
{
  text-size: 8pt;
}